html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background-image: url(../img/background.jpg);
    background-position-x: center;
      background-position-y: bottom;
      background-repeat: no-repeat;
      background-attachment: scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

.headshot{
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  float:right;
}
.powered {
  position: fixed;
      top: 0;
      right: 0;
      width: 100px;
      margin-right: 5%;

}
.epi {
  position: fixed;
      top: 0;
      right: 0;
      width: 100px;
      margin-right: 5%;
      margin-top:2%;
}
/* ul#expand2 li {
  text-align: left;
  margin-left: 10%;
} */

#expand3 li {
margin-left: 10%;
width:100%;
}
.job {
  font-weight: bold;
}

#expand4 {
max-width: 70%;
}
 #expand1 strong {
  margin-bottom: 10%;
}

.row #expand1{
  text-align: left;
  Margin-left: -20px;
  max-width: 65%;
  margin: 12px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 4px;
  background-color: rgb(189, 232, 238,0.20);
}

.row #expand2{
  text-align: left;
    Margin-left: -20px;
    max-width: 100%;
  margin: 12px;
  border: 1px solid white;
  border-radius: 15px;
  /* padding: -10px; */
  background-color: rgb(189, 232, 238,0.20);
}
.row #expand3{
  text-align: left;
  Margin-left: -20px;
  max-width: 65%;
  margin: 12px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 4px;
  background-color: rgb(189, 232, 238,0.20);
}
.row #expand4{
  text-align: left;
  Margin-left: -20px;
  max-width: 65%;
  margin: 12px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 4px;
  background-color: rgb(189, 232, 238,0.20);
}

.row .about-text {
color: rgb(0,0,0);
}

/*border-radius to curve lines on navbar*/
.navbar {
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.80;
  border-radius: 15px;
  border-width: 10px;
  border-color: white;

}

.headshot {
  border-radius: 100px;
}


a.nav-link{
  text-align: center;
}

.expand {
  display: none;
}

.expand:target {
  display: block;
}

.row {
  max-width: 50%;
}


ol #numberlist li span{
  font-weight: bold;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
