body {
    background-image:    url(../img/background.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

#expand2 li {
  text-align: left;
  margin-left: 10%;
}

#expand3 li {
margin-left: 10%;
width:100%;
}
.job {
  font-weight: bold;
}


/*border-radius to curve lines on navbar*/
.navbar {
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
  opacity: 0.80;
  border-radius: 15px;
  border-width: 10px;
  border-color: white;
}

.headshot {
  border-radius: 100px;
}


a.nav-link{
  text-align: center;
}

.expand {
  display: none;
}

.expand:target {
  display: block;
}

.row {
  max-width: 50%;
}
.row #expand1 {
  text-align: left;
  Margin-left: -20px;
  max-width: 65%;

.row #expand2 {
  Margin-left: -20px;
  max-width: 100%;
}
