body {
    background-image:    url(../img/background.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
}

img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.navbar {
  width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

a.nav-link{
  text-align: center;
}
